.container{
	max-width: 100vw;
	width: 100vw;
	max-height: 100vh;
	height: 100vh;
	overflow-y: hidden;
	/* scroll-behavior: smooth; */
	background: url('/images/bg.jpg') no-repeat center center fixed;
	background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
}

.backdrop{
	max-width: 100vw;
	width: 100vw;
	max-height: 100vh;
	height: 100vh;
	background-color: rgba(51, 26, 3, 0.4);
	backdrop-filter: blur(20%);
	display: flex;
	flex-direction: row;
}

.backdrop::-webkit-scrollbar{
	display: none;
}
