.popular{
    box-shadow: -1px -1px 20px black;
}


.detailContainer{
    backdrop-filter: blur(100%);
    background: rgb(0, 0, 0, 0.5);
    box-shadow: -1px -1px 20px black;
    /* color: #3d52c4; */
}